In [1]:
import pandas as pd
import numpy as np

In [40]:
df = pd.DataFrame(np.arange(20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['col1','col2','col3','col4'])
df.head()

      col1  col2  col3  col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [16]:
df.to_csv('Test.csv')

In [23]:
df.loc['Row1']

col1    0
col1    1
col3    2
col4    3
Name: Row1, dtype: int32

In [22]:
type(df.loc['Row1'])

pandas.core.series.Series

In [24]:
df.iloc[:,:]

      col1  col1  col3  col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [25]:
df.iloc[0:2,:]

      col1  col1  col3  col4
Row1     0     1     2     3
Row2     4     5     6     7

In [26]:
type(df.iloc[:,:])

pandas.core.frame.DataFrame

In [28]:
df.iloc[0:1,0:1]

      col1
Row1     0

In [29]:
type(df.iloc[0:1,0:1])

pandas.core.frame.DataFrame

In [30]:
# Data frames into an array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [32]:
df.isnull().sum()

col1    0
col1    0
col3    0
col4    0
dtype: int64

In [37]:
df

      col1  col1  col3  col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [43]:
df['col1'].value_counts()

col1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [44]:
df['col1'].unique()

array([ 0,  4,  8, 12, 16])